<h1>Songs</h1>

<%flash.each do |name, msg| %>
<%= content_tag :div, msg, id: name %>
<% end %>

<% Song.column_names.each do |column_name| %>
   <p class=<%= column_name %> >
      <strong><%= column_name %>:</strong>
      <%= @song.send(column_name) %>
   </p>
<% end %>

<%= link_to "Home", songs_path %>
