<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, id: name %>
<% end %>

<% Album.column_names.each do |column_name| %>
   <p class=<%= column_name %> >
      <strong><%= column_name %>:</strong>
      <%= @album.send(column_name) %>
   </p>
<% end %>

<%= link_to "Home", albums_path %>
